@media (min-width: 992px) {
    .navbar-elements {
        max-width: fit-content;
    }
}

.mobile-buttons {
    display: none;
}

@media (max-width: 992px) {
    .mobile-buttons {
        display: block;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .desktop-buttons {
        display: none;
    }
}